* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
}

.long {
    width: 100% !important;
    margin: 0 0;
    margin-top: 8.9rem;
}

.gif {
    width: 100% !important;
    height: 15.6rem;
}

#navbarSticky {
    background-color: white;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 500000000000;
}

.nav {
    height: 4.8rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 9rem;
}

.nav-title {
    height: 1.5rem;
    cursor: pointer;
}

.form-control::placeholder {
    color: #999;
}

.form-control:focus, .form-control:active {
    box-shadow: none;
    border: 1px solid #aaa;
}

.form-control {
    border-radius: 50rem;
    height: 3rem;
    position: relative;
    width: 34rem;
    border: 1px solid #aaa;
    font-size: 1.1rem;
    padding-left: 1.2rem;
}

.btn-search {
    background-color: #ff5a00;
    position: absolute;
    right: 3%;
    top: 21%;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 5000rem;
    /* padding: 1rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-search2 {
    background-color: transparent;
    position: absolute;
    right: -22%;
    top: -143%;
    height: 15.3rem;
    width: 15.3rem;
    font-weight: 700;
    border-radius: 5000rem;
    /* padding: 1rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    height: 1.4rem;
}

.btn-search:hover {
    background-color: black;
}

.btn-search2:hover {
    background-color: transparent;
}

.nav-saved {
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.saved-p {
    margin: 0;
    text-align: center;
}

.saved-img {
    background-image: url('/experiments/assets/icons8-star-24b.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.saved-img:hover {
    background-image: url('/experiments/assets/icons8-star-24.png');
}

.nav-tabs {
    border-top: 1px solid #eee;
    padding: 1.4rem 1.4rem;
    display: flex;
    margin: 0 auto;
    gap: 5.4rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.tab1 {
    cursor: pointer;
}

.tab1:hover {
    font-weight: 700;
}

.who {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    padding: 1.6rem 9rem;
    margin-top: 5rem;
}

.who-img {
    height: 16.6rem;
    border-radius: .6rem;
}

.who-h {
    font-weight: 700;
    font-size: 2.4rem;
}

.who-p {
    font-size: 1.2rem;
    word-spacing: .1rem;
    line-height: 1.6rem;
}

.apart {
    padding: 1.6rem 15.8rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.6rem;
}

.apart-cards {
    display: flex;
    gap: 1rem;
}

.apart-h {
    text-align: center;
    font-size: 2.7rem;
    margin-top: 2.6rem;
    margin-bottom: 2rem;
    font-weight: 700;
}

.card1 {
    background-color: #ff5a00;
    color: white;
    width: 16rem;
    height: 12.5rem;
    padding: 2rem 2rem;
    border-radius: .8rem;
    text-align: center;
}

.card1-h {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: .6rem;
}

.card1-p {
    font-size: 1rem;
}

.values, .interested {
    background-color: rgb(245, 245, 246);
    padding: 1.6rem 9rem;
    text-align: center;
}
.interested {
    max-height: 53rem;
}
.values-h {
    font-weight: 700;
    font-size: 2.6rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.values-p {
    font-size: 1.1rem;
    margin-bottom: 4rem;
}

.values-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    justify-content: center;
    /* margin: 0 auto; */
    margin-bottom: 2rem;
}

.white {
    height: 5.4rem;
}

.white2 {
    height: 2.5rem;
}

.interested-h {
    font-weight: 700;
    font-size: 2.6rem;
    margin-top: 6.2rem;
    margin-bottom: 7.2rem;
}

.interested-cards {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 2rem;
    align-items: center;
    justify-content: center;
    justify-content: center;
    /* margin: 0 auto; */
    margin-bottom: 5rem;
    padding: 0 2rem;
}

.card3 {
    height: 25rem;
    /* width: 20rem; */
    position: relative;
    border-radius: .6rem;
    text-align: left;
    cursor: pointer;
    transition: height .25s ease 0.1s;
}

.card3:hover {
    height: 25.2rem;
}

.card3-circle {
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 5000rem;
    background-color: white;
    border: 1px solid #ccc;
    top: -2.6rem;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-img {
    height: .7rem;
}

/* .card3-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
} */

.card3-h, .card3-p {
    padding: .6rem .9rem .6rem .6rem;
}

/* .card3-p {
    padding-left: .9rem;
} */

.card3-h {
    margin-top: .7rem;
}

ion-icon {
  color: #ff5a00;
  font-size: 1.3rem;
   --ionicon-stroke-width: 44px;
}

.card3-p-grid {
    position: absolute;
    top: 45%;
    left: 5.2%;
}

.card3-flex {
    display: flex;
    gap: .2rem;
    /* text-align: center; */
    /* align-items: center; */
    align-items: first baseline;
    padding-left: .9rem;
}

.card3-img {
    height: 1.6rem;
    width: 1.6rem;
    align-items: end;
    align-self: flex-end;
    text-align: end;
    text-align: right;
    margin-top: 1rem;
    margin-right: 1.4rem;
    /* position: absolute;
    top: 2%;
    right: 75%; */
}

.card3-img:hover {

}

.apply-btn {
    /* font-size: 1rem; */
    position: absolute;
    top: 86%;
    left: 48%;
}

.arrow {
    background-image: url('/experiments/assets/icons8-chevron-right-16o.png');
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
  width: 3.3rem;
  height: 3.3rem;
  cursor: pointer;
  border: 1px solid #ff5a00;
  padding: 1rem;

  border-radius: 500rem;
}

.arrow:hover {
    background-image: url('/experiments/assets/icons8-chevron-right-16.png');
    border: 1px solid black;
}

.see-all {
    background-color: #ff5a00;
    color: white;
    border-radius: 2rem;
    width: 7.3rem;
    height: 2.5rem;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    transition: background-color .25s ease 0.1s;
    cursor: pointer;
}

.see-all:hover {
    background-color: black;
}

.arrow-flex {
    margin-top: -3.8rem;
    margin-right: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: right;
}



.card2 {
    background-color: transparent;
    border: none;
    text-align: center;
    /* width: 50rem; */
    /* align-items: start; */
    align-self: self-start;
}

.card2-img {
    height: 4rem;
    width: 4.6rem;
    margin-bottom: 2rem;
    align-items: center;
    align-self: center;
}

.card-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.7rem;
}

.card-text {
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.card3-p {
    font-size: 1rem;
}

.footer {
    background-color: #ff5a00;
    /* height: 5rem; */
    /* width: 100vw !important; */
    padding: 1.6rem 9rem;
}

.footer-tabs {
    margin-top: 2rem;
    display: flex;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center !important;
    text-align: center;
}

.footer-border {
    margin-top: 4rem;
    margin-bottom: 1.8rem;
    border-bottom: 2px solid white;
}

.search-icon2-ion {
    color: #000;
    /* height: 5.4rem !important; */
    font-size: 2.4rem;
    /* font-size: 5.4rem !important; */
   /* --search-icon-stroke-width: 44px; */
   /* --search-icon2-stroke-width: 44px; */
}

.tab2 {
    color: #fff;
    font-weight: 700;
}

.tab2:hover {
    /* border-bottom: 1px solid white; */
    text-decoration: underline;
}

.connect {
    display: flex;
    gap: 1.3rem;
    color: white;
    margin-bottom: 1.3rem;
}

.connect-img {
    cursor: pointer;
    height: 1.4rem;
}


.fm2::placeholder {
    color: #000;
    /* border: 1px solid #000; */
}

.fm2:focus, .fm2:active {
    box-shadow: none;
    border: 1px solid black;
}

.fm2 {
    border-radius: 50rem;
    height: 3rem;
    position: relative;
    width: 19rem;
    border: 1px solid #000;
    font-size: 1rem;
    padding-left: 1.2rem;
}