* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
}


.long {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    /* margin: 0 0 !important; */
    margin-top: 9.2rem;
    height: 15.6rem;
    position: relative;
    /* background-image: url(/experiments/assets/dwnld.gif); */
    /* filter: brightness(60%); */
}

.gif {
    width: 100%;
    height: 15.6rem;
    filter: brightness(66%);
}

.gif-hdr {
    position: absolute;
    color: white;
    font-size: 3.8rem;
    font-weight: 700;
}

#navbarSticky {
    background-color: white;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 500000000000;
}

.nav {
    height: 4.8rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 9rem;
}

.nav-title {
    height: 1.5rem;
    cursor: pointer;
}

.form-control::placeholder {
    color: #999;
}

.form-control:focus, .form-control:active {
    box-shadow: none;
    border: 1px solid #aaa;
}

.form-control {
    border-radius: 50rem;
    height: 3rem;
    position: relative;
    width: 34rem;
    border: 1px solid #aaa;
    font-size: 1.1rem;
    padding-left: 1.2rem;
}

.btn-search {
    background-color: #ff5a00;
    position: absolute;
    right: 3%;
    top: 21%;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 5000rem;
    /* padding: 1rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-search2 {
    background-color: transparent;
    right: 8%;
    top: 25%;
}

.search-icon {
    height: 1.4rem;
}

.btn-search:hover {
    background-color: black;
}

.btn-search2:hover {
    background-color: transparent;
}

.nav-saved {
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.saved-p {
    margin: 0;
    text-align: center;
}

.saved-img {
    background-image: url('/experiments/assets/icons8-star-24b.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.saved-img:hover {
    background-image: url('/experiments/assets/icons8-star-24.png');
}

.nav-tabs {
    border-top: 1px solid #eee;
    padding: 1.4rem 1.4rem;
    display: flex;
    margin: 0 auto;
    gap: 5.4rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.tab1 {
    cursor: pointer;
}

.loTab {
    text-decoration: underline;
}

.tab1:hover {
    font-weight: 700;
}

.section0 {
    /* margin-top: 5rem; */
    background-color: #f5f5f6;
}

.video-section {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 2.2rem;
    /* align-items: center; */
    justify-content: center;
    /* cursor: pointer; */
    /* padding-top: 15rem; */
    padding: 5rem 10rem;
    /* text-align: center; */
    /* margin-bottom: 5rem;  */
}

.video {
    position: relative;
}

.video-img {
    height: 23rem;
    width: 29rem;
    /* background-image: url(/experiments/assets/thumbnail.png); */
    background-image: linear-gradient(rgba(0, 0, 255, 0.053), rgba(0, 0, 255, 0.059)), url(/experiments/assets/thumbnail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    filter: brightness(75%);
    position: absolute;
    top: 0;
    cursor: pointer;
}

ion-icon {
    color: #ff5a00;
}
.play-icon {
    font-size: 3.8rem;
     position: absolute;
    top: 33%;
    left: 43%;
    cursor: pointer;
}

.play-hdr {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    top: 55%;
    left: 17%;
    cursor: pointer;
}

.video-hdr {
    font-weight: 700;
    font-size: 2.6rem;
}

.video-txt {
    
    padding: 6rem 0;
}

.video-main {
    position: absolute;
    top: -20%;
}

.hiddenx2 {
    display: none;
}


.section1 {
    margin-top: 1.1rem;
    padding: .1rem 10rem;
    background-color: white;
}

.section1-hdr {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
    font-weight: 700;
}

.flex {
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    gap: 3rem;
}

.card {
    width: 100%;
    height: 22rem;
    border-radius: 8px;
    box-shadow: 0 7px 12px 1px rgba(0, 0, 0, 0.253);
    background-color: white;
    color: black;
    padding: 1.4rem 0;
}
.text-hdr {
    margin-top: 1.3rem;
    font-size: 2.2rem;
    margin-bottom: 1.3rem;
    font-weight: 700;
}

.text-p {
    font-size: 1.2rem;
}

.text-img {
    width: 24rem;
    height: 17rem;
    
}
.card-hdr {
    font-size: 2rem;
    font-weight: 700;
    padding-left: 1rem;
    margin-bottom: .6rem;
}

.card p {
    font-size: 1.3rem;
    cursor: pointer;
    padding: .6rem 1.2rem;
    margin-bottom: 0 !important;
}

.card p:hover {
    font-weight: 700;
}

.focused {
    color: white;
    background-color: #ff5a00;
}

.text-flex {
    display: grid;
    grid-template-columns: .6fr 1fr;
}

.section2 {
    margin-top: 5rem;
    padding: 5rem 10rem;
    background-color: #f5f5f6;
}

.section2-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}

.section2-hdr {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 2.8rem;
}

.section2-p {
    font-size: 1.2rem;
}

.hiddenx2 {
    display: none;
}

.section2-grid-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2-card {

    /* height: 15rem; */
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #aaa;
    padding: 2.4rem 1rem;
}

.s2-card-h {
    font-size: 1.8rem;
    font-weight: 700;
    
    
}

.s2-card-b {
    border-bottom: 2px solid #ff5a00;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.s2-card-p {
    font-size: 1rem;
}

.section2-grid-right {
    border: 1px solid #aaa;
    padding: 3rem 6rem 8rem 6rem;
    border-radius: 2rem;
    height: 40rem;
    position: relative;
}

/* .map { */
    /* width: 80%; */
    
/* } */

.dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    border: 3px solid white;
    background-color: black;
}

.dot1 {
    position: absolute;
    top: 35%;
    left: 48%;
}
.dot2 {
    position: absolute;
    top: 48%;
    left: 24%;
}
.dot3 {
    position: absolute;
    top: 44%;
    left: 34%;
}
.dot4 {
    position: absolute;
    top: 48.8%;
    left: 56.5%;
}
.dot5 {
    position: absolute;
    top: 54.4%;
    left: 62.4%;
}
.dot6 {
    position: absolute;
    top: 58%;
    left: 63.4%;
}
.dot7 {
    position: absolute;
    top: 61.5%;
    left: 68.5%;
}
.dot8 {
    position: absolute;
    top: 65%;
    left: 76%;
}


.footer {
    background-color: #ff5a00;
    /* height: 5rem; */
    /* width: 100vw !important; */
    padding: 1.6rem 9rem;
}

.footer-tabs {
    margin-top: 2rem;
    display: flex;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center !important;
    text-align: center;
}

.footer-border {
    margin-top: 4rem;
    margin-bottom: 1.8rem;
    border-bottom: 2px solid white;
}

.search-icon2-ion {
    color: #000;
    /* height: 5.4rem !important; */
    font-size: 2.4rem;
    /* font-size: 5.4rem !important; */
   /* --search-icon-stroke-width: 44px; */
   /* --search-icon2-stroke-width: 44px; */
}

.tab2 {
    color: #fff;
    font-weight: 700;
}

.tab2:hover {
    /* border-bottom: 1px solid white; */
    text-decoration: underline;
}

.connect {
    display: flex;
    gap: 1.3rem;
    color: white;
    margin-bottom: 1.3rem;
}

.connect-img {
    cursor: pointer;
    height: 1.4rem;
}


.fm2::placeholder {
    color: #000;
    /* border: 1px solid #000; */
}

.fm2:focus, .fm2:active {
    box-shadow: none;
    border: 1px solid black;
}

.fm2 {
    border-radius: 50rem;
    height: 3rem;
    position: relative;
    width: 19rem;
    border: 1px solid #000;
    font-size: 1rem;
    padding-left: 1.2rem;
}

.btn-search2 {
    background-color: transparent;
    position: absolute;
    right: -22%;
    top: -143%;
    height: 15.3rem;
    width: 15.3rem;
    font-weight: 700;
    border-radius: 5000rem;
    /* padding: 1rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    height: 1.4rem;
}