* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
}


.long {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    margin: 0 0 !important;
    height: 15.6rem;
    position: relative;
    /* background-image: url(/experiments/assets/dwnld.gif); */
    /* filter: brightness(60%); */
}

.gif {
    width: 100%;
    height: 15.6rem;
    filter: brightness(66%);
}

.gif-hdr {
    position: absolute;
    color: white;
    font-size: 3.8rem;
    font-weight: 700;
}

.nav {
    height: 4.8rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 9rem;
}

.nav-title {
    height: 1.5rem;
    cursor: pointer;
}

.form-control::placeholder {
    color: #999;
}

.form-control:focus, .form-control:active {
    box-shadow: none;
    border: 1px solid #aaa;
}

.form-control {
    border-radius: 50rem;
    height: 3rem;
    position: relative;
    width: 34rem;
    border: 1px solid #aaa;
    font-size: 1.1rem;
    padding-left: 1.2rem;
}

.btn-search {
    background-color: #ff5a00;
    position: absolute;
    right: 3%;
    top: 21%;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 5000rem;
    /* padding: 1rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-search2 {
    background-color: transparent;
    right: 8%;
    top: 25%;
}

.search-icon {
    height: 1.4rem;
}

.btn-search:hover {
    background-color: black;
}

.btn-search2:hover {
    background-color: transparent;
}

.nav-saved {
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.saved-p {
    margin: 0;
    text-align: center;
}

.saved-img {
    background-image: url('/experiments/assets/icons8-star-24b.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.saved-img:hover {
    background-image: url('/experiments/assets/icons8-star-24.png');
}

.nav-tabs {
    border-top: 1px solid #eee;
    padding: 1.4rem 1.4rem;
    display: flex;
    margin: 0 auto;
    gap: 5.4rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.tab1 {
    cursor: pointer;
}

.loTab {
    text-decoration: underline;
}

.tab1:hover {
    font-weight: 700;
}

.video-section {
    display: grid;
    grid-template-columns: 1fr 1.4fr;
    gap: 2.2rem;
    /* align-items: center; */
    justify-content: center;
    cursor: pointer;
    margin-top: 5rem;
    padding: 0 10rem;
    /* text-align: center; */
}

.video {
    position: relative;
}

.video-img {
    height: 23rem;
    width: 29rem;
    /* background-image: url(/experiments/assets/thumbnail.png); */
    background-image: linear-gradient(rgba(0, 0, 255, 0.053), rgba(0, 0, 255, 0.059)), url(/experiments/assets/thumbnail.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    filter: brightness(75%);
    position: absolute;
    top: 0;
}

ion-icon {
    color: #ff5a00;
}
.play-icon {
    font-size: 3.8rem;
     position: absolute;
    top: 33%;
    left: 43%;
}

.play-hdr {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
    top: 55%;
    left: 17%;
}

.video-hdr {
    font-weight: 700;
    font-size: 2.6rem;
}

.video-txt {
    
    padding: 6rem 0;
}

.video-main {
    position: absolute;
    top: -20%;
}

.hiddenx2 {
    display: none;
}