* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: #fae4d8; */
  background-color: #fff;
  font-size: 62.5%;
  overflow-x: hidden;
  /* overflow-y: visible;   */
}

body {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
    font-size: 2rem;
}

input:focus,
a:focus,
button:focus {
  outline: none;
}


.section-nav {
  width: 112rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 1fr 1fr; */
  padding: 2rem 6rem;
  margin: 0 auto;
}

.talabat-title {
  height: 4.4rem;
}


.nav-btns {
  justify-self: end;
  display: flex;
  gap: 3rem;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited {
  text-decoration: none;
  border-radius: 20rem;
  padding: 0 1.1rem;

  border: none;
  /* only necessary for .btn */
  /* box-shadow: 0.5px 2px 15px 0 #0000000e; */
  cursor: pointer;
  font-family: inherit;

  background-color: #fff;
  color: #666;
}

.login-logo, .flag-logo {
  width: 1.8rem;
}

.flag-logo {
  width: 2.2rem;
}

.n1 {
  border-radius: 5rem !important;
  padding: 0;
}


/* .nav-btns {
  justify-self: end;
  display: flex;
  gap: 3rem;
} */
/* 
.nav-btn,
.nav-btn:link,
.nav-btn:visited,
.cart-btn, .cart-btn:link, .cart-btn:visited {
  text-decoration: none;
  border-radius: 50%;
  padding: 1rem 1rem;

  border: none; */
  /* only necessary for .btn */
  /* box-shadow: 0.5px 2px 15px 0 #0000000e;
  cursor: pointer;
  font-family: inherit;

  background-color: #fff;
  color: #666;
} */


/* .nav-btn, .cart-btn {
  transition: all 0.2s;
}

.nav-btn:hover,
.nav-btn:active, .cart-btn:hover, .cart-btn:active {
  transform: translateY(-0.3rem);
}


  .nav-btn,
  .nav-btn:link,
  .nav-btn:visited, .cart-btn, .cart-btn:link, .cart-btn:visited {
    text-decoration: none;
    border-radius: 50%;

    border: none;
    cursor: pointer;
    font-family: inherit;

    background-color: #fff;
    color: #666;
  } */

  
.icon {
  font-size: 2.4rem;
}

/* login stuff */

.login, .create-acc-popup {
  height: 77vh;
  width: 33vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  position: absolute;
  z-index: 3;
  top: 7rem;
  left: 50%;
 transform: translate(-50%, 0);
  border-radius: .5rem;
  opacity: 1 !important;
  pointer-events: all !important;


  /* box-shadow: 30px 30px 5px rgba(0, 0, 0, 0.303); */
  -webkit-box-shadow: 500 500 5px #000000b7;
        box-shadow: 500 500 5px #00000075;
}

.logout {
   height: 36vh;
  width: 26vw;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  position: absolute;
  z-index: 3;
  top: 27rem;
  left: 50%;
 transform: translate(-50%, 0);
  border-radius: .5rem;
  opacity: 1 !important;
  pointer-events: all !important;

  -webkit-box-shadow: 500 500 5px #000000b7;
        box-shadow: 500 500 5px #00000075;
}

.x, .x2 {
  width: 3rem;
font-size: 2.2rem;
border: none;
background-color: white;
font-weight: 500;
align-self: flex-end;
padding-right: 4.5rem;
}

.x:hover, .x2:hover {
  cursor: pointer;
}

.login h3, .create-acc-popup h3 {
  font-size: 3rem;
  font-weight: 400;
}

.msg2 {
  font-size: 2.2rem;
  font-weight: 400;
}

.login p {
  font-size: 1.6rem;
  color: #444;
  letter-spacing: .05rem;
}

  

.login-google {
  border: 1px solid #ddd;
  background-color: white;
  font-size: 1.35rem;
  color: #444;
  font-weight: 300;
  width: 77%;
  height: 3.2rem;
}
.login-facebook {
  border: 1px solid #6d7fb9;
  background-color: #6d7fb9;
  font-size: 1.35rem;
  color: #fff;
  font-weight: 300;
  width: 77%;
   height: 3.2rem;
}

.login-form, .create-acc-form {
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  width: 77%;
  font-size: 1.3rem;
}

.login-form input, .create-acc-form input {
  height: 3.2rem;
}

.forgot-password {
  color: #888;
  text-decoration: none;
}

.login-btn, .create-acc-btn {
  border: none;
  background-color: #fd6721;
  color:white;
  height: 3.8rem;
  font-size: 1.5rem;
  border-radius: 5rem;

  cursor: pointer;
}


.logout-btn {
   border: none;
  background-color: #fd6721;
  color:white;
  height: 6rem;
  width: 10rem;
  font-size: 2.2rem;
  border-radius: 5rem;

  cursor: pointer;
}

/* .login-btn:hover */

.create-acc-link {
  color: #e65c1d !important;
  /* background-color: #000; */
  margin-top: -2rem !important;
  cursor: pointer;
}

.main:hover {
  cursor: pointer;
}
/* to here */


.PJ-nav {
    background-color: #f4ede3;
    height: 8.4rem;
    
    /* display: flex; */
    /* justify-content: right; */
}

.cart-btn {
    font-size: 1.8rem;
    /* color: #888; */
    /* border: none; */
    /* cursor: pointer; */
    /* background-color: #e3dcd7; */
    padding: .2rem;
    /* height: 5.5rem; */
    width: 4rem;

    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-left: 3rem; */
}

.cart-logo {
  height: 2.25rem;
  width: 2.4rem;
}

.cart-num {
    font-size: 1.2rem;
    /* font-size: 2.4rem; */
    color: #fff;
    background-color: #f55905;
    /* text-decoration: underline; */
}

.PJ-container{
    max-width: 96rem;
    margin: 2.1rem auto;
}

.PJ-history {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 4.5rem;
    font-size: 1.3rem;
    
}
.PJ-history a {
    text-decoration: none;
    color: #222;
}

.PJ-history a:hover {
  color: #f55905;
}

.history-gr {
  color: #f55905;
  font-weight: 700;
}

.history-res {
  color: #999;
}

.PJ-details-with-image {
    display: flex;
gap: 2rem;
max-width: 96rem;
}

.PJ-details-with-image img {
    height: 11.2rem;
    width: 14.2rem;
    border: 1px solid #eeddee;
    border-radius: .3rem;
}

.PJ-details {
    display: flex;
    flex-direction: column;
    color: #676777;
    font-size: 1.45rem;
    margin-bottom: 2.8rem;
    line-height: 2.8rem;
    width: 96rem;
}

.flex-good, .flex-money {
  display: flex;
  /* gap: 50rem; */
  justify-content: space-between !important;
  align-items: center !important;
}


.flex-money img, .flex-good img {
  height: 2rem;
  width: auto;
  border: none;
}

.justify-right {
  display: flex;
  gap: .6rem;
  justify-content: right;
  align-items: center;
}

/* .OPEN {
    color: rgb(12, 168, 12);
    margin-left: auto;
} */

.PJ-restaurant-title {
    font-size: 2.4rem;
    color: #222;
    font-weight: 400;
}



.PJ-main-menu {
    display: grid;
    width: 96rem;
    grid-template-columns: .92fr 2.18fr 1.4fr;
    justify-self: center;
    gap:2rem;
}

.PJ-categories {
    background-color: #fff;
    /* border: 1px solid #bcbcbc; */
    border-radius: .2rem;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19); */
     box-shadow: 1px 3px 4px -3px rgba(0, 0, 0, 0.7), -1px 1px 3px -3px rgba(0, 0, 0, 0.7);
    border: 1px solid #e5e5e5;
    padding: 1.1rem 1.5rem;
    /* box-shadow: ; */
    font-size: 1.5rem;
    color: #222;
    line-height: 3rem;
    letter-spacing: .05rem;
    font-weight: 300 !important;

    height: fit-content;

    white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis !important;

    position: sticky;
      top: 2rem;              /* Stick to the top */
      z-index: 1000; 
}

.PJ-categories h4 {
  margin-bottom: .9rem;
  font-weight: 300 !important;
}
.PJ-categories li {
    list-style: none;
    color: #777;
    font-size: 1.3rem;
    font-weight: 300 !important;

    white-space: nowrap; 
  overflow: hidden;    
  text-overflow: ellipsis !important;

     
}

.PJ-categories a {
    color: #888;
    text-decoration: none;
    font-weight: 300 !important;
}

.PJ-menu {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}


.form-food-search {
  display: flex; /* Arranges input and button side-by-side */
  align-items: center;
  margin-bottom: 1.1rem;
  position: relative;
}

.form-food-search input[type="search"] {
  /* padding: 10px; */
  border: 1px solid #777;
  border-radius: 2px;
  font-size: 1.2rem;
  padding: 1.3rem 1rem;
  flex-grow: 1; /* Allows the input to take up available space */
}

.form-food-search button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 5px; /* Adds space between input and button */

   position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    background: transparent;
    padding: 0;
}

.form-food-search input[type="search"]:focus {
  outline: none;
  border-color: #f55905;
  /* box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); */
}

.form-food-search button img {
  height: 2rem;
}

.PJ-accordion {
  margin-bottom: 12rem;
  
}

.PJ-accordion-btn, .PJ-accordion-btn1, .PJ-accordion-btn2, .PJ-accordion-btn3, .PJ-accordion-btn4 {
    cursor: pointer;
background-color: whitesmoke;
font-size: 1.95rem;
font-weight: 300;
color: #262626;

  padding: 1rem 1.4rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: inherit;
}

.panel {
  padding: .75rem 0;
  background-color: #fff;
  color: #222;
  display: none;

  font-size: 1.65rem;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;


}

.PJ-subtotal-div {
    padding: 1.5rem 1.5rem;
}

.PJ-subtotal-p {
    display: flex;
}

.grid-panel {
    display: grid;
    grid-template-columns: 16fr 55fr 20fr 6fr;
    /* width: 100%; */
    gap: 1rem;

    /* align-items: center; */
  text-decoration: none;
   padding: 1rem 0;

   color: #222;
  /* display: flex; */
  margin-bottom: .3rem;
}

.panel a {
    border-bottom: 1px solid #ddd;
    width: 100%;
    /* border-top: 1px solid #aaa; */
}


.PEP-img {
  background-image: url('/assets/pepsi.png');
}

.WTR-img {
    background-image: url('/assets/water.webp');
}

.SUP-img {
 background-image: url('/assets/7up.png');
}

.WDG-img {
    /* background-image: url('wedges.jpg'); */
    background-image: url("/assets/wedges.jpg");
}

.CHS-img {
    /* background-image: url('cheese.jpg'); */
    background-image: url("/assets/cheese.jpg");
}

.HWI-img {
    background-image: url('/assets/hawaiian.jpg');
}
.BBQ-img {
    background-image: url('/assets/chickenBBQ.webp');
}
.GRD-img {
    background-image: url('/assets/garden.png');
}
.MRG-img {
    background-image: url('/assets/margherita.jpg');
}
.PPR-img {
    background-image: url('/assets/pepperoni.webp');
}

.LTO-img {
    background-image: url('/assets/LTO.jpg');
}



.panel-img {
    
    background-size: contain;

    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 5rem;
    border-radius: .2rem;

    border: 1px solid #dedede;
    margin-top: 0 !important;
}

.panel-price {
    font-size: 1.4rem;
}

.pizza-links:link,
.pizza-links:visited, .LTO-links:link,
.LTO-links:visited, .appetizer-links:link,
.appetizer-links:visited, .beverages-links:link,
.beverages-links:visited {
  color: #222;
  /* display: flex; */
  margin-bottom: .3rem;
  text-decoration: none;
}

.cart-hdr {
    /* border-bottom: 1px solid #000; */
    background-color: #f55905;
    color: #fff;
    padding: .9rem 1.1rem;
    font-size: 1.9rem;

}

.PJ-cart {
    background-color: #fff;
    border-radius: .2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.75rem;
    color: #222;
    line-height: 3rem;
    letter-spacing: .05rem;

    height: fit-content;

    position: sticky;
      top: 2rem;              /* Stick to the top */
      z-index: 1000; 
    
}

.empty-cart {
  padding: 1.5rem 3rem 0 3rem;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.46rem;
  color: #000;
  font-weight: 700;
}

.empty-cart img {
  height: 8rem;
  margin-bottom: 1rem;
}

.PJ-cart-items {
    padding: 1.5rem 1.5rem;
    background-color: #f5f5f5;
}


/* ////////////////////////////////////// */
/* footer: */

/* ////////////////////////////////////// */
/* footer: */

.section-footer {
  /* margin-top: 12rem; */
  background-color: #262626;
  color: #f1f1f1;
  /* padding: 2rem 0 2rem 0; */
  font-size: 1.6rem;

  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;

  
}

.footer-container {
  max-width: 104rem;
  padding: 3.4rem 3.2rem;
  margin: 0 auto;
  /* margin-right: 26rem; */
  /* margin-left: 24rem; */

  position: relative;
  
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.footer-border {
  border-bottom: 1px solid #cccccc2b;
}

.footer-grid-r1, .footer-grid-r2, .footer-grid-r3 {
  display: flex;
  /* border-bottom: 1px solid #cccccc2b; */
  /* border: 1px solid blue; */
}

.footer-grid-r1 {
  color: #999;
  font-size: 1.33rem;
  justify-content: space-between;
  /* gap: 3rem; */
}

.footer-r1-link:hover {
  cursor: pointer;
  color: #e65c1d;
}

.footer-grid-r2 {
  margin-bottom: -2rem;
}

.footer-r2-new-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 3rem;
  align-items: start;
  justify-content: start;
}

.footer-r2-new-grid p {
  line-height: 3rem;
  font-size: 1.36rem;
}

.r2-hdr {
  color: #999;
font-size: 1.5rem !important;
margin-top: -2rem;
margin-bottom: 1rem;
}

.r2-more-italic {
  font-style: italic;
  margin-top: 1.2rem;
}

.footer-grid-r3 {
  color: #999;
  font-size: 1.33rem;
  justify-content: space-between;
  margin-top: -.8rem;
}

.r2-col4-r1-flex {
  margin-top: 1.8rem;
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #00000075; */
}

.r2-col4-r2 {
  margin-top: 4.4rem;
  border-top: 1px solid #cccccc2b;
}

.r2-col4-r1-flex button {
 border: none;
 background-color: none;
 background: none;

 cursor: pointer;
}

.r2-col4-r1-flex img {
  height: 2.5rem;
}

.contact-us {
  display: flex;
  background-color: #f55905;
  color: white;
  font-size: 1.3rem;
  align-items: center;
  justify-content: start;
  /* justify-self: right; */
  gap: 2rem;
  width: 16rem;
  border-radius: .6rem .6rem 0 0;
  height: 3rem;
  padding: 1.2rem 1rem 1.4rem 1.1rem;

  position: absolute;
  top: 93.22%; 
  right: -22%;

  cursor: pointer;
}

.contact-us img {
  height: 1.8rem;
}


/* ACCORDION: */

/* Style the buttons that are used to open and close the accordion panel */
.PJ-footer-accordion-box {
  margin-bottom: 2rem;
}

.PJ-footer-accordion {
  background-color: #222;
  color: #f1f1f1;
  text-transform: uppercase;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: inherit;
  font-size: 1.6rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, */
/* .accordion:hover { */
/* background-color: #ccc; */
/* } */

/* Style the accordion panel. Note: hidden by default */
.PJ-footer-panel {
  padding: 0 3.6rem;
  background-color: #222;
  color: #999;
  display: none;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.PJ-footer-accordion:after {
  content: "+"; /*Unicode character for "plus" sign (+)*/
  font-size: 18px;
  color: #999;
  float: right;
  margin-left: 5px;
}

.PJ-footer-active:after {
  content: "-"; /* Unicode character for "minus" sign (-) */
}

.cuisines-links:link,
.cuisines-links:visited {
  color: #999;
  display: flex;
  margin-bottom: 2rem;
  text-decoration: none;
}

/* .cuisines-links:hover,
.cuisines-links:active {
} */

.more {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-style: italic;
}

.PJ-tabs-border {
  margin-bottom: 2.2rem;
  border-bottom: 1px solid #dddede;
}
.PJ-tabs {
  width: 72rem;
    display: flex;
    justify-content: space-around;
    /* padding-bottom: 1rem; */
    /* border-bottom: 1px solid #dddede; */
    font-size: 1.8rem;
    font-weight: 400;
    /* margin-bottom: 2.2rem; */

    /* flex-wrap: wrap; */

}

.PJ-tabs-inner {
  display: flex;
  flex: 1;
  align-items: start;
  justify-content: center;
  padding-bottom: .6rem;
  gap: .9rem;
  /* flex-wrap: wrap; */
  cursor: pointer;
}

.t2:hover {
  font-size: 1.84rem;
}

/* .t1:focus, .t2:focus, .t3:focus { */
  /* padding-bottom: 1rem; */
  /* font-size: 1.84rem;
  border-bottom: 3px solid #ea5b2f;
  border-width: 100%; */
/* } */

.PJ-tabs-img {
  height: 2.6rem;
}

.PJ-tabs a {
    color: #222;
    text-decoration: none;
}

/* COPYRIGHT: */

.copyright {
  border-top: 0.1px solid #aaa;
}

.copyright-p {
  margin-top: 1rem;
  display: flex;
  justify-self: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.copyright-p2 {
  display: flex;
  justify-self: center;
  font-size: 1.5rem;
  /* margin-bottom: 2rem; */
}

.live-chat:link,
.live-chat:visited {
  font-size: 1.5rem;
  color: #f1f1f1;
  background-color: #222;
  font-family: inherit;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  text-decoration: none;
  border-bottom: 1.5px dashed #f1f1f1;
}

.hidden {
  opacity: 0;
}

.CHS-link {
    position: relative;
}


.CHS-choose {
    /* background-color: #fffdfc; */
    background-color: #222;
    border: 1px solid #ffffff;
    width: 64rem;
    height: 42rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

    z-index: 5000000;
}

.white {
    color: white;

}

.CHS-choose-btns {
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.CHS-choose button {
    background-color: white;
    color: #222;
    font-size: 1.8rem;
    border: 1px solid #222;
    padding: 2rem 2rem;
    border-radius: 6px;
    height: 10rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.CHS-choose button:hover {
     /* background-color: #fffcfc; */
     background-color: #ea5b2f;
     color: white;
}
.CHS-choose button:active {
     /* background-color: #f9f7f7; */
     background-color: #e05328;
}

.hiddenx2 {
    display: none;
}
