* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", sans-serif;
}


.long {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    margin: 0 0 !important;
    height: 15.6rem;
    position: relative;
    /* background-image: url(/experiments/assets/dwnld.gif); */
    /* filter: brightness(60%); */
}

.gif {
    width: 100%;
    height: 15.6rem;
    filter: brightness(66%);
}

.gif-hdr {
    position: absolute;
    color: white;
    font-size: 3.8rem;
    font-weight: 700;
}

.nav {
    height: 4.8rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .6rem 9rem;
}

.nav-title {
    height: 1.5rem;
    cursor: pointer;
}

.form-control::placeholder {
    color: #999;
}

.form-control:focus, .form-control:active {
    box-shadow: none;
    border: 1px solid #aaa;
}

.form-control {
    border-radius: 50rem;
    height: 3rem;
    position: relative;
    width: 34rem;
    border: 1px solid #aaa;
    font-size: 1.1rem;
    padding-left: 1.2rem;
}

.btn-search {
    background-color: #ff5a00;
    position: absolute;
    right: 3%;
    top: 21%;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 5000rem;
    /* padding: 1rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-search2 {
    background-color: transparent;
    right: 8%;
    top: 25%;
}

.search-icon {
    height: 1.4rem;
}

.btn-search:hover {
    background-color: black;
}

.btn-search2:hover {
    background-color: transparent;
}

.nav-saved {
    display: flex;
    gap: .8rem;
    align-items: center;
    justify-content: center;
    text-align: center !important;
}

.saved-p {
    margin: 0;
    text-align: center;
}

.saved-img {
    background-image: url('/experiments/assets/icons8-star-24b.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.saved-img:hover {
    background-image: url('/experiments/assets/icons8-star-24.png');
}

.nav-tabs {
    border-top: 1px solid #eee;
    padding: 1.4rem 1.4rem;
    display: flex;
    margin: 0 auto;
    gap: 5.4rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.tab1 {
    cursor: pointer;
}

.loTab {
    text-decoration: underline;
}

.tab1:hover {
    font-weight: 700;
}


/* ///////////////////////// */


.footer {
    background-color: #ff5a00;
    /* height: 5rem; */
    /* width: 100vw !important; */
    padding: 1.6rem 9rem;
}

.footer-tabs {
    margin-top: 2rem;
    display: flex;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center !important;
    text-align: center;
}

.footer-border {
    margin-top: 4rem;
    margin-bottom: 1.8rem;
    border-bottom: 2px solid white;
}

.search-icon2-ion {
    color: #000;
    /* height: 5.4rem !important; */
    font-size: 2.4rem;
    /* font-size: 5.4rem !important; */
   /* --search-icon-stroke-width: 44px; */
   /* --search-icon2-stroke-width: 44px; */
}

.tab2 {
    color: #fff;
    font-weight: 700;
}

.tab2:hover {
    /* border-bottom: 1px solid white; */
    text-decoration: underline;
}

.connect {
    display: flex;
    gap: 1.3rem;
    color: white;
    margin-bottom: 1.3rem;
}

.connect-img {
    cursor: pointer;
    height: 1.4rem;
}


.fm2::placeholder {
    color: #000;
    /* border: 1px solid #000; */
}

.fm2:focus, .fm2:active {
    box-shadow: none;
    border: 1px solid black;
}

.fm2 {
    border-radius: 50rem;
    height: 3rem;
    position: relative;
    width: 19rem;
    border: 1px solid #000;
    font-size: 1rem;
    padding-left: 1.2rem;
}

.btn-search2 {
    background-color: transparent;
    position: absolute;
    right: -22%;
    top: -143%;
    height: 15.3rem;
    width: 15.3rem;
    font-weight: 700;
    border-radius: 5000rem;
    /* padding: 1rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    height: 1.4rem;
}