
// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";






$primary: #f55905; // main orange instead of blue
// $body-bg: #121212; // dark mode background
$accordion-bg: #f7f7f7;
$accordion-button-active-bg: $accordion-bg;
$accordion-button-active-color: black;
$accordion-border-color: transparent;
$accordion-button-focus-box-shadow: none;


// @import "../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap/scss/bootstrap";

body {
  background-color: #fcf7f2;
  font-family: 'Helvetica Neue', sans-serif;
  padding-top: 2rem;
}

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.accordion-body {
  padding: 1rem 1.5rem;
}