* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.intro-grid {
    

    background-image: url("/assets/introPic.png");
    background-attachment: fixed;
}

.intro-width {
    padding: 5rem 12rem;
    display: grid;
    gap: 12rem;
    grid-template-columns: 1fr 1fr;
}

.intro-left {
    align-items: left;
    justify-content: left;
}

.intro-right {
    align-items: right;
    justify-content: right;
}

.intro-title {
    color: white;
    font-size: 3.8rem;
    margin-top: 6rem;
    word-spacing: 2;
    margin-bottom: 2.4rem;
}

.intro-text {
    /* margin-top: 9rem; */
    color: white;
    font-size: 2rem;
}

.form-grid {
    display: grid;
    /* flex-direction: ; */
    grid-template-columns: 5fr 2fr;
    gap: .5rem;
}
.form-grid2 {
    display: grid;
    /* flex-direction: ; */
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.card {
    padding: 2rem;
}

.btn-submit, .btn-submit:hover {
    background-color: #ff5a00;
    width: 100%;
    border-radius: 1px;
    padding: .7rem;
    border: none;
    margin-top: 2rem;
}

.card-title {
    font-size: 1.7rem;
}

.card-text {
    margin-bottom: 2.2rem;
}

.benefits {
    margin-top: 5.6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.benefits-title {
    font-size: 2.3rem;
    font-weight: 700;
    word-spacing: .2rem;
    letter-spacing: .1rem;
    /* align-items: center;
    justify-content: center; */
}

.benefits-icon {
    height: 8rem;
}

.container {
    width: 72rem;
}

.delivery-benefits {
    background-color: #f8f9fb66;
    margin-top: 5.6rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem auto;
}

.delivery-header {
    font-size: 2.3rem;
    font-weight: 700;
    word-spacing: .2rem;
    letter-spacing: .1rem;
}

.delivery-cards {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.7rem !important;
}

.cardDelBen {
    padding: 0;
    font-size: 1.4rem;
    height: 35rem;
    width: 22rem !important;
    border-bottom: 10px solid blue;
}

.fleet {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: left;
    /* width: 50rem; */
}

.fleet-header {
    font-size: 3.2rem;
    font-weight: 600;
    width: 30rem;
}